.About section {
  margin-top: 60px;
}

.About img {
  border-radius: 5px;
  margin: 0 auto;
}

.About h3 {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  margin-top: 30px;
}

.About .aboutPhoto {
  display: flex;
  aspect-ratio: 4/3;
}

.About .paragraph {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin-top: 30px;
}

.About .aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .About .aboutGrid {
    display: block;
  }

  .About .paragraph {
    margin-bottom: 50px;
  }
}
